.content {
  max-width: 1536px;
}

.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #fff;
  padding: 10px;
  transition: color .15s ease-in-out;
  text-decoration: none;
}
.site-header a:hover {
  color: #fff;
  background-color: #91B595;
  padding: 10px;
  text-decoration: none;
}

@media screen and (max-width:640px) {
  .header {
    background-position:center;
    background-size: cover;
    height:50%!important;
  }
  .sale-badge {
    height: 150px;
  }

}

.btn-outline-custom {
  color: #fff!important;
  border-color: #fff!important;
  background-color: #91B595!important;
}

.btn-outline-custom:hover {
  color: #364537 !important;
  border-color: #364537!important;
  background-color: #91B595!important;
}

.product-heading {
  font-size: 0.9rem;
  font-weight: bold;
}

.product-price {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
}


.product-text {
  font-size: 0.8rem;
}

.footer {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  color: #fff;
}

.credit{
  font-size: x-small;
  color: #666666;
  text-align: left;
  padding-right: 10px;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
