---
# Rename this file to env.yml to use your own development FSI Server
env:
  FSI_SERVER: https://my-own.fsi-server.tld
  FSI_CONTEXT: fsi
  FSI_VIEWER: viewer
  IMAGES_ROOT: images/path
  STATIC_ROOT: static/path
