---
# Rename this file to env.yml to use your own development FSI Server
fsi:
  server: https://my-own.fsi-server.tld
  context: fsi
  viewer: viewer
sources:
  images: images/path
  static: static/path
