.btn-shifter {
  @media (hover: hover) {
    opacity: 0;
    transition: opacity 0.1s;
  }
}

.btn-show {
  @media (hover: hover) {
    opacity: 0.75;
    transition: opacity 0.6s;
  }
}

.layersContainer {
  padding: 0;
  height: 868px;
  position: relative;
}

.layersContainer .img {
  z-index: 10;
  position: absolute;
}

.layersContainer .myLayers{
  position: relative;
}

.layersContainer .btn {
  z-index: 15;
  position: absolute;
}

