@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-size-base: 0.9rem;

$accordion-padding-y: 0.4rem;
$accordion-bg: white;
$accordion-border-width: 1px;
$accordion-button-focus-box-shadow: 0;
$accordion-button-bg: #e9ecef;
$accordion-color: dark-gray;
$accordion-button-active-bg: #007185;
$accordion-button-active-color: white;

$theme-colors: (
  primary: #007185,
  secondary: #ffa41c,
  info: #ffa41c,
  success: #058552,
  dark: #111111,
  warning: #f4f4f4
);

$body-bg: #eee !default;

/* Import bootstrap from fsi-samples-framework */
@import "bootstrap";

body {
  overflow-x: hidden;
  width: 100vw;
  margin-right: calc(100vw - 100%);
}

.accordion-button-fixed:after{
  background-image: none !important;
}
