body {
  margin: 0;
}

fsi-layers {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
}

div.flex-container {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #e8c309;
  z-index: -1;
  position: absolute;
}
